body{
    background-color: blueviolet;
}

header,p,#inp,#btn,#output-area{
    display: flex;
    justify-content: center;

}

header{
    padding-top: 10rem;
    font-size: 60px;
}

p{
    font-size: 40px;
}

input{
    font-size: 46px;
    border-radius: 0.5em;
  width:350px;
  height:70px;
}

button{
    margin-top: 2rem;
    font-size: 20px;
    width: 150px;
    height: 60px;
}

#output-area{
    margin-top: 2rem;
    font-size: 46px;
}

